.cover {
    background-image: url("images/stars_space_galaxy_117958_1920x1080.jpg");

}


.stars {
    background-repeat: no-repeat;
}

.joshua {
    width: 18rem;
    border-radius: 50%;
}

.bg-transparent {
    padding: 7% 40% 5rem;
}

.cover-text {
padding-left: 28px;
}

.about-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.my-skills {
    padding: 3rem 5% 3rem;
    background-color: #24D649;
}